.slider {
  position: relative;
  height: 34px;
  width: 50px;
  cursor: pointer;
  background-color: #fff;
  transition: 0.1s;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;

  &::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    transform: translateX(-2px);
    transition: transform 0.1s ease-in-out;
  }

  &.active::before {
    transform: translateX(18px);
   }

  &.active {
    background-color: #000;
  }
}
